{% extends 'recommend/index.html' %}
{% load staticfiles %}

{% block content %}
    <div class="ui basic horizontal segments">
        <div class="ui middle aligned grid container">
            <div class="sixteen wide column">
                <div id="app">
                    <div class="ui basic segment">
                        <div class="ui vertical segment">
                            <div class="ui grey container segment" v-for="line in album">
                                [[ album.title ]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/recommend/album.js'%}"></script>
{% endblock %}