{% include 'basic/index_base.html' %}
{% load staticfiles %}

{% block title %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <meta name="description" content="Examples for creative website header animations using Canvas and JavaScript" />
    <meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript" />
    <meta name="author" content="Codrops" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/AnimatedHeaderBackgrounds/normalize.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/AnimatedHeaderBackgrounds/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/AnimatedHeaderBackgrounds/component.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800|Clicker+Script' rel='stylesheet' type='text/css'>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% endblock %}

{% block content %}
    <div class="container demo-2">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <h1 class="main-title">Spirit</h1>
                <div class="ui five wide column"></div>
            </div>
            </div>
        </div>
        <section class="related">
            <div class="ui grid container">
                <div class="ui five wide column"></div>
                <div class="ui six wide column">
                    <div class="ui segments">
                        <div class="ui massive vertical inverted labeled icon menu">
                            <a class="item" href="/weather">
                                <i class="huge sun middle aligned icon"></i>
                                <div class="middle aligned content" style="font-size: 24px">
                                    天氣預報
                                </div>
                            </a>
                            <a class="item" href="/news">
                                <i class="huge clipboard outline alternate middle aligned icon"></i>
                                <div class="middle aligned content" style="font-size: 24px">
                                    新聞搜尋
                                </div>
                            </a>
                            <a class="item" href="/gallery">
                                <i class="huge camera alternate middle aligned icon"></i>
                                <div class="middle aligned content" style="font-size: 24px">
                                    照片集
                                </div>
                            </a>
                            <a class="item" href="/youtube">
                                <i class="huge youtube alternate middle aligned icon"></i>
                                <div class="middle aligned content" style="font-size: 24px">
                                    Youtube播放清單
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Thanks -->
        <p class="ref">
            Animate designed by <a href="https://tympanus.net/codrops/author/rachsmith/">rachsmith</a>.
            Image from <a href="http://unsplash.com/">Unsplash</a>.
            Ornament made with the <a href="http://pixelbuddha.net/freebie/sable-kit-free">Free Sable Kit</a> from Pixel Buddha.
        </p>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/AnimatedHeaderBackgrounds/rAF.js' %}"></script>
    <script src="{% static 'js/AnimatedHeaderBackgrounds/demo-2.js' %}"></script>
{% endblock %}