{% include 'weather/index.html' %}
{% load staticfiles %}

{% block title %}
    <style>
        .table thead,
        .table th {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="ui basic horizontal segments">
        <div class="ui middle aligned grid container">
            <div class="sixteen wide column">
                <div class="ui segment">
                    <div class="ui container">
                        <div class="ui action input">
                            <button class="ui red labeled icon button" name="search">
                            <i class="search icon"></i>City
                            </button>
                        <input type="text">
                        </div>
                        <div>
                            <span><i>Type <b>City name</b> or </i><b>Here</b><i> to get your location weather</i></span>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div id="">
                        <table id="result" class="ui celled table">
                            <thead>
                                <tr>
                                    <th>datetime</th>
                                    <th>weather</th>
                                    <th>temp</th>
                                    <th>pressure</th>
                                    <th>humidity</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/weather/weather.js'%}"></script>
{% endblock %}